$solid-color: #35495e;
$solid-color-hover: #798797;
$gray: #cdcdcd;
$correct:  #3bcb50;

@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('fonts/Cafe24Shiningstar.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "suit medium";
    src: url("fonts/SUIT-Medium.ttf") format('truetype');
    font-weight: 500;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.button { 
    background-color: $solid-color;
    color: white;
    border: 0;
    padding: 0;
    cursor: pointer;
    width: 120px;
    height: 30px;
    border-radius: 5px;
    &:hover {
        background-color: $solid-color-hover;
    }
    display: flex;
    & > span {
        margin: auto;
    }
}

.medium {
    padding: 5px 10px;
    min-width: 120px;
    width: fit-content;
    height: 40px;
    border-radius: 8px;
    font-size: 20px;
}

input {
    border: 1px solid $gray;
    padding: 5px;
    &:focus {
        outline: none;
        border-bottom: 2px solid $solid-color;
    }
    &::placeholder{
        color: $gray;
    }
}

input.borderless {
    border: none;
    border-bottom: 1px solid $solid-color-hover;
    padding: 5px;
    width: 200px;
    &:focus {
        outline: none;
        border-bottom: 2px solid $solid-color;
    }
    &::placeholder{
        color: $gray;
    }
}

input.error {
    border: none;
    border-bottom: 1px solid red;
    animation: shake .1s linear;
    -webkit-animation: shake .1s linear;
    animation-iteration-count: 5;
    &:focus {
        outline: none;
        border-bottom: 2px solid red;
    }
}

input.correct {
    border: none;
    border-bottom: 1px solid $correct;
    animation: shake .1s linear;
    -webkit-animation: shake .1s linear;
    animation-iteration-count: 5;
    &:focus {
        outline: none;
        border-bottom: 2px solid $correct;
    }
}